.reminder__inner {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: justify;
   justify-content: space-between;
   gap: 4.5rem;
}

.reminder__title {
   max-width: 200px;
}

.reminder__wrapp {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 13rem;
   max-width: 986px;
}

.reminder__text {
   font-size: var(--fz-24);
   font-weight: var(--fw-300);
}

.reminder__text:first-child {
   font-size: var(--fz-70);
   font-weight: var(--fw-200);
}